@use 'Base/Variables' as v;
@use 'Base/mixins' as m;

.FondoCamionesNosotros {
    .Cif .especial{
        margin-top: 25rem !important;
        @include m.tablet{
            margin-top: 15em !important;
        }
        @include m.desktop{
            margin-top: 15% !important;
        }
    }
    article {
        &:nth-child(3) {
            margin-bottom: 5% !important;

        }

        &:nth-child(4) {
            p.TexCif {
                width: 30rem !important;
                @include m.tablet{
                    width: 30% !important;
                }
                @include m.desktop{
                    width: 20rem !important;
                }
            }
        }
    }
}