@use '../Base/Variables.scss' as v;
@use '../Base/mixins.scss' as m;

.footGeneral{
    background-color: v.$negro;
    padding: 1%;
    p,
    a{
        color: v.$blanco;
        text-align: center;
        font-family: v.$Texto_letra_italica;
    }
    p{
        padding: 0 2%;
        font-size: 2.5vw;
        @include m.tablet{
            font-size: 1.5vw;
            padding: 0 5%;
        }
        @include m.desktop{
            font-size: 1.2vw;
        }
    }
    @include m.tablet{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2%;

        a{
        transition: opacity .3s;
        &:hover{
            opacity: .6;
        }
    }
    }
}
.aviso{
    font-size: 2vw;
    display: flex;
    width: 30%;
    justify-content: center;
    margin: 0 auto 2% auto;
    
    @include m.tablet{
        font-size: 1.2vw;
        width: 20%;
    }
}
.Redes{
    margin-top: 2%;
    padding: 0 1% 5% 1%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;    
    @include m.tablet{
        padding: 1%;
    }
    a{
        justify-self: center;
        background-color: v.$blanco;
        width: 8vw;
        height: 8vw;
        border-radius: 30%;
        align-self: center;
        position: relative;
        
        &::after{
            position: absolute;
            bottom: -45%;
            left: 50%;
            transform: translateX(-50%);
            font-family: v.$Texto_letra_italica;
            font-size: 2.5vw;
        }
        @include m.tablet{
            &::after{
                bottom: -45%;
                font-size: 1.5vw;
            }
        }
        @include m.desktop{
            &::after{
                font-size: 1vw;
            }
        }
        &:nth-child(1):after{
            content: 'Facebook';
        }
        &:nth-child(2):after{
            content: 'Instagram';
        }
        &:nth-child(3):after{
            content: 'TikTok';
        }
        &:nth-child(4):after{
            content: 'WhatsApp';
        }

        @include m.tablet{
            width: 5vw;
            height: 5vw;   
        }
        @include m.desktop{
            width: 3.5vw;
            height: 3.5vw; 
        }
    }
}