@use 'Base/Variables' as v;
@use 'Base/Mixins' as m;

.Flayer{
    .Flayer_paraDesk video, .Flayer_paraDesk img {
        max-height: 90vh;
    }
}


.DireccionASecciones{
    .secciones{
        article{
            width: 100%;
            height: auto;
            a{
                border-radius: .5em;
            }
        }
    }
}

//Link superpuesto para tik tok
.RedesSocialesInicio{
    #Rec3{
        a{
            width: 100%;
            height: 82%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
    }
}

.carousel {
    .carousel-slide p{
        border-radius: 10px;
    }
}

a.botonUb_mobile{
    border-radius: 10px;
}

.divisiondeinfo{
    a{
        border-radius: 10px;
    }
}

.RedesSocialesInicio #botonRedes{
    border-radius: 10px;
}


//Correciones de diseño desde movile:

.proceso .UnirseProc h3{
    font-size: 10vw !important;
    @include m.desktop{
        font-size: 3.5vw !important;
    }
}
.UbicInicio h3{
    font-size: 8vw !important;
    color: v.$VerdeUb !important;
    @include m.desktop{
        font-size: 6vw !important;
    }
}

.InfoComposta_inicio h2{
    font-family: v.$FuturaCondensedBT !important;
    font-size: 8.8vw !important;
    @include m.tablet{
        font-size: 3.9vw !important;
    }   
    @include m.desktop{
        font-size: 3.5vw !important;
    }
}
.InfoComposta_inicio a{
    @include m.desktop{
        bottom: 30% !important;
    }
}

.RedesSocialesInicio h2{
    font-size: 8vw !important;
    width: 70% !important;
    @include m.desktop{
        font-size: 4vw !important;
    }
}