@use 'Base/mixins' as m;
@use 'Base/Variables' as v;

.nos {

    .seccion-info .MisionCont{
        h2{
            margin-bottom: 4% !important;
            @include m.desktop{
                margin-bottom: 2% !important;
            }
        }
        p{
            line-height: 1.2 !important;
        }

    }
    .somos_cadena{
        h1{
            font-size: 6vw !important;
        }
        @include m.desktop{
            h1{
                font-size: 4vw !important;
            }
        }
    } 

}


