@use 'Base/Mixins' as m;
@use 'Base/Variables' as v;

.nos {

    .seccion-info .MisionCont{
        h2{
            margin-bottom: 4% !important;
            @include m.desktop{
                margin-bottom: 2% !important;
            }
        }
        p{
            line-height: 1.2 !important;
        }

    }
    .somos_cadena{
        h1{
            font-size: 6vw !important;
        }
        @include m.desktop{
            h1{
                font-size: 4vw !important;
            }
        }
    } 

}

.nos .quienessomos .contenido .texto h1{
    @include m.desktop{
        font-size: 5vw !important;
        margin-top: 0 !important;
        margin-bottom: -0.2em !important;
    }
}
.nos .quienessomos .contenido .texto p{
    @include m.desktop{
        font-size: 1.4em !important;
        width: 70% !important;
    }
}
.nos .seccion-info h1{
    font-family: v.$FuturaCondensedBT !important;
    font-size: 4.2vw !important;
    @include m.tablet{
        top: 5% !important;
    }
}

.nos .seccion-info .MisionCont h2{
    font-family: v.$FuturaCondensedBT !important;
}
.nos .somos_cadena h1{
    font-family: v.$FuturaCondensedBT !important;
    letter-spacing: 1px !important;
}
.nos .colaboradores h1{
    font-family: v.$FuturaCondensedBT !important;
    letter-spacing: 1px !important;
}
.nos .somos_cadena .tabla-normas .celda-texto h1, .nos .somos_cadena .tabla-normas .celda-texto2 h1{
    font-family: v.$Texto_titulos !important;
    @include m.tablet{
        font-size: 3vw !important;
    }
    @include m.desktop{
        font-size: 2.5vw !important;
    }
}
.nos .somos_cadena .tabla-normas .celda-texto h2, .nos .somos_cadena .tabla-normas .celda-texto2 h2{
    font-family: v.$Texto_titulos !important;
    @include m.tablet{
        font-size: 2.5vw !important;
    }
    @include m.desktop{
        font-size: 2vw !important;
    }
}
.nos .somos_cadena .tabla-normas .celda-texto p, .nos .somos_cadena .tabla-normas .celda-texto2 p{
    font-family: v.$Texto_letra !important;
    @include m.tablet{
        font-size: 1.5vw !important;
    }
    @include m.desktop{
        font-size: 1.2vw !important;
    }
}
.nos .somos_cadena .tabla-normas{
    @include m.desktop{
        width: 60% !important;
    }
}
.nos .somos_cadena .tabla-normas .celda-imagen img{
    @include m.tablet{
        width: 85% !important;
    }
}
.nos .somos_cadena .tabla-normas .celda-texto{
    background-color: #99D850 !important;
}
.nos .quienessomos .contenido .texto .logo{
    @include m.desktop{
        width: 25em !important;
    }
}
.nos .quienessomos .contenido .texto p{
    font-size: 1.3em !important;
}

.somos_cadena{
    .celda-texto, .celda-texto2{
        h2{
            margin-bottom: 1.2rem !important;
        }
    }
}