.CarruselParaUbicacionesBootstrap{
    @import 'bootstrap';

    .carousel-inner{
        width: 80%;
        margin: 2% auto;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon{
        width: 8vw;
        height: 8vw;
        margin-top: 5rem;
        filter: invert(52%) sepia(25%) saturate(590%) hue-rotate(343deg) brightness(95%) contrast(85%);
    }
}
