@use 'Base/Variables' as v;
@use 'Base/mixins' as m;

.Redes_princ{
    padding: 1%;
    background-color: v.$Cafe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    h1{
        color: v.$ColorFondo;
        margin: 0;
        font-size: 1.8vw;
    }
    a,p,img{
        color: v.$ColorFondo;
    }
}
.TextoIniciar{
    transition: color .3s linear;
    //El "&" sirve para juntar propiedades por ejemplo .TextoIniciar:hover
    //Si quitamos el "&" tenemos .TextoIniciar :hover (Con espacio) y eso no existe
    &:hover{
            color: v.$amarillo;
        }
}
.InicioS, .Redes{
    width: 15%;
    border: 2px solid beige;
    display: flex;
    justify-content: space-between;
}
.Redes{
    justify-content: space-around;
    a{
        border: 2px solid red;
    }
}
.NavegacionDesktop{
    position: relative;
}
.NavPrincipal{
    border: 2px solid black;
    position: fixed;
    width: 100%;
    padding: 1%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    
    picture{
        border: 2px solid black;
    }
    ul{
        display: flex;
        border: 2px solid black;
        justify-content:space-around;
        padding: 0;
        a{
            font-family: v.$Texto_titulos;
            font-size: 2vw;

            //Este hover se ve mejor sin tiempo de transicion
            &:hover{
                text-shadow: 0px 0px 5px v.$amarillo;
            }
        }
    }
}


//Prueba para desplazamiento vertical
body{
    height: 5000px;
}

